/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Life Savers', serif;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E6ECF4;
  align-items: center;
  width: 300px;
}

.form img {
  height: 70px;
  width: 70px;
}

.form input {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input-button {
  width: 80%;
  margin-bottom: 30px;
}

.woody img {
  height: 200px;
  width: 200px;
}

.clear {
  width: 50px;
  align-self: flex-end;
  margin: 20px;
}
